/* General commands explanation:
padding-left: space to left window border
*/

/*------------------------ Classes -----------------------------*/

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #D3D3D3; /* Light-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar topbar {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar topbar:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #800000; /* Add an active/current color */
}
}

/*------------------------ Commands -----------------------------*/
/*Header h1 with label a1 settings*/
h1 a1{
	color: #800000;
	text-shadow: 3px 2px #D3D3D3;
	font-weight: bold;
	font-family: 'Lobster';
	font-size: 40px;
	padding-left: 10px;
}

/*Header h3 with label a3 settings*/
h3 a3{
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
	font-family: Georgia, serif;
	font-size: 18px;
	padding-left: 10px;
}

/*Paragraph p settings*/
p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	padding-left: 10px;
	line-height:1.8;
}